<h1 align="right">Signup!</h1>

<table class="table">
<%= form_for :user, url: '/users' do |f| %>
  <tr>
    <td>Name: <%= f.text_field :name %></td>
    <td>Email: <%= f.text_field :email %></td>
  </tr>
  <tr>
    <td>Password: <%= f.password_field :password %></td>
    <td>Password Confirmation: <%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td><%= f.submit "Submit" %></td>
  </tr>
<% end %>
</table>
