<!DOCTYPE html>
<html lang = "en-US">
 <head>
 <meta charset = "UTF-8">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
 <title>externalStyle.html</title>
 <link rel = "stylesheet"
   type = "text/css"
   href = "hikes.css" />
 </head>
 <body>
  <p id="notice"><%= notice %></p>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><%= link_to 'View hike', hikes_path %></li>
    <li><%= link_to 'New hike', new_hike_path %></li>
  </ul>
  <div id="hike_list">
    <h1>Hikes in Georgia</h1>

    <table class="table-responsive">
    <% @hikes.each do |hike| %>
      <!-- <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> -->
      <tr>
        <td>
          <%= image_tag(hike.image, :class => 'list_image') %>
        </td>

        <td class= "list_description">
          <dl>
            <dt><a href="/hikes/<%= hike.id %>"><%= hike.title %></a></dt>
            <dd><%= truncate(strip_tags(hike.description), :length => 400) %></dd>
          </dl>
        </td>
      </tr>
      <tr>
        <td class= "link_title" align="right"></td>
        <td class="list_link">
          <a href="<%= hike.link %>" target="_blank"><%= hike.link %></a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="list_actions">
          <%= link_to 'Show', hike, class: 'btn btn-primary btn-xs' %>
          <%= link_to 'Edit', edit_hike_path(hike), class: 'btn btn-info btn-xs' %>
          <%= link_to 'Destroy', hike,
                      :confirm => 'Are you sure?',
                      :method => :delete,
                      class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>

  <br />

  <%= link_to new_hike_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New hike
  <% end %>
</body>
</html>

<!-- <p id="notice"><%= notice %></p>

<h1>Listing Hikes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Distance</th>
      <th>Difficulty</th>
      <th>Region</th>
      <th>Description</th>
      <th>Image</th>
      <th>Link</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hikes.each do |hike| %>
      <tr>
        <td><%= hike.title %></td>
        <td><%= hike.distance %></td>
        <td><%= hike.difficulty %></td>
        <td><%= hike.region %></td>
        <td><%= hike.description %></td>
        <td><%= hike.image %></td>
        <td><%= hike.link %></td>
        <td><%= hike.completed %></td>
        <td><%= link_to 'Show', hike %></td>
        <td><%= link_to 'Edit', edit_hike_path(hike) %></td>
        <td><%= link_to 'Destroy', hike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hike', new_hike_path %>
 -->
