<!DOCTYPE html>
<html lang = "en-US">
 <head>
 <meta charset = "UTF-8">
 <title>externalStyle.html</title>
 <link rel = "stylesheet"
   type = "text/css"
   href = "hikes.css" />
 </head>
 <body>
  <p id="notice"><%= notice %></p>

  <div id="hike_list">
    <h1>Hikes in Georgia</h1>

    <table>
    <% @hikes.each do |hike| %>
      <!-- <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> -->
      <tr>

        <td>
          <%= image_tag(hike.image, :class => 'list_image') %>
        </td>

        <td class= "list_description">
          <dl>
            <dt><a href="/hikes/<%= hike.id %>"><%= hike.title %></a></dt>
            <dd><%= truncate(strip_tags(hike.description), :length => 200) %></dd>
          </dl>
        </td>

        <td class="list_link">
          <a href="<%= hike.link %>" target="_blank"><%= hike.link %></a>
        </td>

        <td class="list_actions">
          <%= link_to 'Show', hike %><br/>
          <%= link_to 'Edit', edit_hike_path(hike) %><br/>
          <%= link_to 'Destroy', hike,
                      :confirm => 'Are you sure?',
                      :method => :delete %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>

  <br />

  <%= link_to 'New Hike', new_hike_path %>
</body>
</html>

<!-- <p id="notice"><%= notice %></p>

<h1>Listing Hikes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Distance</th>
      <th>Difficulty</th>
      <th>Region</th>
      <th>Description</th>
      <th>Image</th>
      <th>Link</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hikes.each do |hike| %>
      <tr>
        <td><%= hike.title %></td>
        <td><%= hike.distance %></td>
        <td><%= hike.difficulty %></td>
        <td><%= hike.region %></td>
        <td><%= hike.description %></td>
        <td><%= hike.image %></td>
        <td><%= hike.link %></td>
        <td><%= hike.completed %></td>
        <td><%= link_to 'Show', hike %></td>
        <td><%= link_to 'Edit', edit_hike_path(hike) %></td>
        <td><%= link_to 'Destroy', hike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hike', new_hike_path %>
 -->